@model HomeDTO

<div class="container">
    <div class="row pt-3 mb-3">

        <div class="col-md-4">
            <img class="img-fluid border border-dark border-1" src="@Model.ImageUrl" alt="Room Image" style="min-height: 240px; max-height: 240px;">
        </div>
    
        <div class="col-md-8">
            <div class="pt-2"><h3 class="text-uppercase text-primary fw-bold">@Model.RoomName</h3></div>
            <div style="min-height:70px;max-height:70px;">
                <p class="text-truncate-modal" title="@Model.Description">@Model.Description</p>
            </div>
            <div class="pt-2"><h4 class="text-primary fw-bold">ROOM AMENITIES:</h4></div>

              <div class="row" style="max-height:70px; overflow-y: auto; display: flex; flex-wrap: wrap;">
                @foreach (var objAmenity in Model.RoomAmenities)
                {
                    <div class="col-lg-4" style="flex: 0 0 30%;">
                        <div class="fw-bold">@objAmenity.Amenity!.AmenityName</div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6 col-md-2">
            <span class="text-primary fw-bold">OCCUPANCY:</span>
        </div>
        <div class="col-6 col-md-10 text-end">
            <span class="fw-bold text-danger">@Model.MaxOccupancy Person</span>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-6 col-md-2">
            <span class="text-primary fw-bold">PRICE:</span>
        </div>
        <div class="col-6 col-md-10 text-end">
            <span class="fw-bold text-danger">@Model.RoomPrice.ToString("c")</span>
        </div>
    </div>
</div>

