@model RoomDTO

@{
    var priceRange = (RangeAttribute)Attribute.GetCustomAttribute(typeof(Room).GetProperty("RoomPrice"), typeof(RangeAttribute));
    var occupancyRange = (RangeAttribute)Attribute.GetCustomAttribute(typeof(Room).GetProperty("MaxOccupancy"), typeof(RangeAttribute));

}

<form id="form-edit" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">

                <input asp-for="@Model.RoomId" hidden />            
                <input asp-for="@Model.ImageUrl" hidden />             

              <div class="col-lg-6 col-md-12 form-group">
                    <div class="border">
                        <img id="image_preview" name="image_preview" src="@Model.ImageUrl" class="img-fluid" style="max-width: 100%; min-height:400px;max-height:400px;" alt="Room Image">
                    </div>
                    <div class="pt-3">
                        <input type="file" class="form-control" asp-for="@Model.Image" onchange="DisplayImagePreview(event)" accept="image/*">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 pt-md-0 pt-3">            
              
                    <div class="mb-3">
                        <label asp-for="@Model.RoomName" class="form-label fw-bold">Room Name:</label>
                        <input id="RoomName" type="text" class="form-control" asp-for="@Model.RoomName" placeholder="Enter Room Name" required autocomplete="off"> 
                        <div class="invalid-feedback">Please provide a room name.</div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Description" class="form-label fw-bold">Description:</label>
                        <input id="Description" type="text" class="form-control" asp-for="@Model.Description" autocomplete="off" placeholder="Enter Description">
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.RoomPrice" class="form-label fw-bold">Price:</label>
                        <input id="RoomPrice" type="number" class="form-control" asp-for="@Model.RoomPrice" placeholder="Enter Price" autocomplete="off" required min="@priceRange!.Minimum" max="@priceRange.Maximum" style="-moz-appearance: textfield;">
                        <div class="invalid-feedback">Please provide a range price of $ @priceRange.Minimum - $ @priceRange.Maximum</div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.MaxOccupancy" class="form-label fw-bold">Occupancy:</label>
                        <input id="MaxOccupancy"  type="number" class="form-control" asp-for="@Model.MaxOccupancy" placeholder="Enter Occupancy" autocomplete="off" required min="@occupancyRange!.Minimum" max="@occupancyRange.Maximum" style="-moz-appearance: textfield;">
                        <div class="invalid-feedback">Please provide a range occupancy of @occupancyRange.Minimum - @occupancyRange.Maximum.</div>
                    </div>
                </div>
            </div>
    </div>
</form>


