@model RoomNumberCreateDTO


<form id="form-add">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 pt-md-0 pt-3">
                <div class="mb-3">
                    <label for="description" class="form-label fw-bold">Room Number:</label>
                    <input id="RoomNo" type="number" class="form-control" asp-for="@Model.RoomNo" placeholder="Enter Room Number" required autocomplete="off" min="100" style="-moz-appearance: textfield;">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label fw-bold">Select Room:</label>
                    <select class="form-select form-control border shadow" aria-label="Select Room" asp-for="@Model.RoomId" asp-items="@Model.RoomList" required>
                        <option selected></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Description:</label>
                    <input type="text" class="form-control" asp-for="@Model.Description" placeholder="Enter Description" required autocomplete="off">
                </div>
            </div>
        </div>
    </div>

</form>









